outfit/
data/
config/
params.yaml
artifacts/
logs/
src\utils/
darknet/
segmented_clothing/


backend/code/clusters.npy
backend/code/extracted_features.npy
backend/ml_models

backend/public/image_data/

outfit_aura/media/image_data/

segmented_images
media
/media/image_data/female/formal/bottoms/*
Outfit_Aura/static/images/*
Outfit_Aura/venv
Outfit_Aura/venv
C:/Users/ARA/Desktop/ara330/Outfit_Aura/venv
Outfit_Aura/venv