<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <title>AuraFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <style>
  .nav-bg {
            background: linear-gradient(35deg, red, purple);
        }
    .body-bg {
            background: linear-gradient(35deg, red, purple);
        }
    </style>
</head>
<body class="body-bg">
    <nav class="nav nav_top nav-bg" >
        <div class="logo">
            <a href="#"><img src="/static/images/logo.png" width="250"></a>
        </div>
        <div class="nav_side">
            <a href="/">Home</a>
            <a href="/matches">Find Matches</a>
            <a href="/contact">Contact Us</a>
        </div>
    </nav>
    <div class="main">
            <div class="main_content">
                <br>
                <h2>Perfect Matches
                    <br> <br>
                    <span style="font-size:28px; color:yellow">We let you to match the tops and bottoms based on the Artificial Intelligence.<br> This website allows you to explore both men's and women's fashion.<br> You are at the right place , if you are looking for a perfect match!</span>
                </h2>
            </div>
    </div>
    <div class="product">
        <h2>Available Categories</h2>
        <div class="product_container">
            <div class="item">
                <div class="item_img">
                    <img src="/static/images/female/formal/tops/18763.png">
                </div>
                <div class="item_content">
                    <h3>WOMEN'S FORMAL</h3>
                </div>
            </div>

            <div class="item">
                <div class="item_img">
                    <img src="/static/images/female/informal/tops/00029_00.png">
                </div>
                <div class="item_content">
                    <h3>WOMEN'S INFORMAL</h3>
                </div>
            </div>

            <div class="item">
                <div class="item_img">
                    <img src="/static/images/female/informal/tops/00030_00.png">
                </div>
                <div class="item_content">
                    <h3>WOMEN'S DRESSES</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="product_container">
            <div class="item">
                <div class="item_img">
                    <img src="/static/images/male/formal/tops/8787.png">
                </div>
                <div class="item_content">
                    <h3>MEN'S FORMAL</h3>
                </div>
            </div>

            <div class="item">
                <div class="item_img">
                    <img src="/static/images/male/informal/tops/MEN-Jackets_Vests-id_00007247-01_1_front.png">
                </div>
                <div class="item_content">
                    <h3>MEN'S INFORMAL</h3>
                </div>
            </div>
        </div>

        <div class="product_btn">
            <a href="/matches">Find Matches</a>
        </div>
    </div>



    <footer>

        <div class="social">
            <h3>Follow Us</h3>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>

        <hr>
        <p>Copyright &copy; 2024 Aurafit. All rights reserved.</p>
    </footer>

 <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>